<?xml version="1.0" encoding="utf-8"?>
<packages>      
  <package id="brave" />
  <package id="powershell-core" />
  <package id="postman" />
  <package id="microsoft-windows-terminal" />
  <package id="terminal-icons.powershell" />  
  <package id="sublimetext4" />
  <package id="sql-server-management-studio" />  
  <package id="neovim" />  
  <package id="beyondcompare" />
  <package id="mremoteng" />
  <package id="windirstat" />
  <package id="poshgit" />
  <package id="oh-my-posh" />
  <package id="linqpad7" allow-empty-checksums="true" />
  <package id="winrar" allow-empty-checksums="true" />  
  <package id="sysinternals" />  
</packages>